html {
  height: 100%
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#body {
  height: 100%
}

#ship-map {
  height: 94%
}

.pop-up {
  background: white;
  margin-left: 10%;
  margin-top: 2%;
  height: 40%;
  width: 30%;
  position: absolute;
  z-index: 1;
}

/*---------------------------------------------ship-info--------zwj-------------------------------------------------------*/
#pop-up-ship-info{
  .ship-info-header{
    background: dodgerblue;
  }

  .ship-info{
    padding: 5px;
    color: white;
    display: inline;
  }

  .close-button {
    float: right;
    vertical-align: middle;
    border-color: transparent;
    background-color: transparent;
    height: 5px;
    width: 5px;
    padding-right: 25px;
  }
  
  .edit-button {
    vertical-align: middle;
    border-color: transparent;
    background-color: transparent;
    height: 5px;
    width: 5px;
    padding-bottom: 32px;
  }
  .ship-info-left-block{
    width: 50%;
    float: left;
    padding: 5px;
      .ship-image{
        width: 70px;
        height: 70px;
      }
  }
  .ship-info-right-block{
    width: 50%;
    float: right;
    padding: 5px;
  }

  #ship-

}