html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#body {
  height: 100%;
}
#ship-map {
  height: 94%;
}
.pop-up {
  background: white;
  margin-left: 5%;
  margin-top: 7%;
  height: 45%;
  width: 25%;
  position: absolute;
  z-index: 1;
}
.pop-up p {
  margin: 5%;
  margin-left: 0%;
}
.pop-up .ship-info-header-bar {
  background: #0953e2;
  height: 35px;
}
.pop-up .ship-info-header-bar .ship-name-header {
  position: relative;
  margin-left: 5%;
  color: white;
  display: inline-block;
}
.pop-up .ship-info-header-bar .close-button {
  float: right;
  vertical-align: middle;
  border-color: transparent;
  background-color: transparent;
  margin: 2%;
}
.pop-up .ship-info-header-bar .edit-button {
  vertical-align: middle;
  border-color: transparent;
  background-color: transparent;
  margin-top: 2%;
  margin-bottom: 2%;
}
.pop-up .ship-info-group {
  margin-left: 5%;
  margin-right: 5%;
}
.pop-up .ship-info-group .ship-info-left-block {
  text-align: left;
  width: 50%;
  float: left;
}
.pop-up .ship-info-group .ship-info-left-block .ship-image {
  margin-bottom: 7%;
  width: 70px;
  height: 70px;
}
.pop-up .ship-info-group .ship-info-right-block {
  text-align: left;
  width: 50%;
  float: right;
}
#observed-list {
  height: 50%;
  width: 28%;
  right: 15%;
}
#observed-list-header {
  margin-top: 3%;
}
#add-ship-title {
  width: 100%;
  margin-left: 0%;
  text-align: left;
}
.add-ship-label {
  padding-right: 0%;
  padding-left: 0%;
}
#pop-up-change-name {
  height: 20%;
  width: 15%;
  left: 26%;
}
#search-bar {
  margin-top: 2%;
  width: 50%;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
#search-bar .search-bar-item {
  float: left;
}
#search-form {
  width: 60%;
}
#search-button {
  width: 10%;
}
#search-image {
  height: 60%;
  width: auto;
}
#new-name-form {
  padding: 5%;
  padding-bottom: 0%;
}
.two-buttons {
  text-align: center;
  margin: 0 auto;
}
#id-label {
  width: -10%;
  padding: -5%;
}
#edit-name {
  margin-top: 5%;
}
#logo {
  padding-bottom: 23%;
  align-content: right;
  width: 60%;
  height: auto;
}
#user-logo {
  padding-bottom: 10%;
  width: 60%;
  height: auto;
}
.blue-button {
  background-color: #0953e2;
}
.cancel-button {
  color: black;
  margin-right: -5%;
  background-color: lightgrey;
}
#right-float-parent {
  margin-top: 2%;
  width: 10%;
  position: absolute;
  background-color: black;
  background-blend-mode: overlay;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  opacity: 70%;
  right: 10%;
}
#right-float-parent .layui-btn {
  width: 45%;
  float: left;
  margin: 0;
  background-color: transparent;
  border: transparent;
}
#right-float-parent .image {
  width: 50%;
  height: auto;
}
#test1 {
  overflow-y: scroll;
  height: 80px;
}
