html {
  height: 100%
}

body {
  height : 100%;
  margin : 0px;
  padding: 0px
}

#body {
  height: 100%
}

#ship-map {
  height: 94%
}

// --------------- pop-up styling --------------- //

.pop-up {
  background : white;
  margin-left: 5%;
  margin-top : 7%;
  height     : 45%;
  width      : 25%;
  position   : absolute;
  z-index    : 1;

  p {
    margin     : 5%;
    margin-left: 0%;
  }

  .ship-info-header-bar {
    background: #0953e2;
    height: 35px;

    .ship-name-header {
      position: relative;
      margin-left: 5%;
      color      : white;
      display    : inline-block;

    }

    .close-button {
      float           : right;
      vertical-align  : middle;
      border-color    : transparent;
      background-color: transparent;
      margin          : 2%;
    }

    .edit-button {
      vertical-align  : middle;
      border-color    : transparent;
      background-color: transparent;
      margin-top      : 2%;
      margin-bottom   : 2%;
    }
  }

  .ship-info-group {
    margin-left : 5%;
    margin-right: 5%;

    .ship-info-left-block {
      text-align: left;
      width     : 50%;
      float     : left;

      .ship-image {
        margin-bottom: 7%;
        width        : 70px;
        height       : 70px;
      }
    }

    .ship-info-right-block {
      text-align: left;
      width     : 50%;
      float     : right;
    }

    .cancel-button {
      margin-right    : -5%;
      background-color: lightgrey;
    }
  }
}

// ---------------  name styling --------------- //
#observed-list {
  height: 50%;
  width: 20%;
  right: 15%;
}

#observed-list-header {
  margin-top: 3%;
}

// --------------- edit name styling --------------- //
#pop-up-change-name {
  height: 20%;
  width : 15%;
  left  : 26%;
}

#search-bar {
  margin-top      : 2%;
  width           : 50%;
  position        : absolute;
  background-color: transparent;
  z-index         : 1;
  .search-bar-item {
    float: left;
  }
}
#search-form {
  width: 60%;
}
#search-button {
  width: 10%;
  background-color: #0953e2; 
}
#search-image {
  height: 60%;
  width: 50%;
}
#new-name-form {
  padding: 5%;
  padding-bottom: 0%;
}
.two-buttons {
  text-align: center;
  margin: 0 auto;
}
#id-label {
  width: -10%;
  padding: -5%;
}

#edit-name {
  margin-top:5%;
}