html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#body {
  height: 100%;
}
#ship-map {
  height: 94%;
}
.pop-up {
  background: white;
  margin-left: 5%;
  margin-top: 2%;
  height: 45%;
  width: 24.5%;
  position: absolute;
  z-index: 1;
  /*---------------------------------------------ship-info--------zwj-------------------------------------------------------*/
}
.pop-up p {
  margin: 5%;
  margin-left: 0%;
}
.pop-up .ship-info-header-bar {
  background: dodgerblue;
}
.pop-up .ship-info-header-bar .ship-name-header {
  margin-left: 5%;
  color: white;
  display: inline;
}
.pop-up .ship-info-header-bar .close-button {
  float: right;
  vertical-align: middle;
  border-color: transparent;
  background-color: transparent;
  margin: 2%;
}
.pop-up .ship-info-header-bar .edit-button {
  vertical-align: middle;
  border-color: transparent;
  background-color: transparent;
  margin-top: 2%;
  margin-bottom: 2%;
}
.pop-up .ship-info-group {
  margin-left: 5%;
  margin-right: 5%;
}
.pop-up .ship-info-group .ship-info-left-block {
  text-align: left;
  width: 50%;
  float: left;
}
.pop-up .ship-info-group .ship-info-left-block .ship-image {
  margin-bottom: 7%;
  width: 70px;
  height: 70px;
}
.pop-up .ship-info-group .ship-info-right-block {
  text-align: left;
  width: 50%;
  float: right;
}
.pop-up .ship-info-group .cancel-button {
  margin-right: -5%;
  background-color: lightgrey;
}
.pop-up #pop-up-change-name {
  height: 30%;
  width: 15%;
  left: 23%;
}
