html {
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
#body {
  height: 100vh;
}
#ship-map {
  height: 93%;
}
.my-nav {
  background-color: black;
  border-radius: 0px;
}
.pop-up {
  position: absolute;
  z-index: 1;
  background: white;
  overflow: hidden;
  font-size: small;
}
.pop-up .pop-up-header {
  display: flex;
  padding-left: 6%;
  padding-right: 4%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #006ce7;
  position: relative;
  height: 35px;
  width: 100%;
}
.pop-up .pop-up-header .pop-up-header-text {
  position: relative;
  height: auto;
  color: white;
}
.pop-up .pop-up-header .pop-up-header-button {
  background-color: transparent;
  border: transparent;
  height: auto;
  width: auto;
}
.pop-up .pop-up-header .edit-button {
  margin-left: 2%;
}
.pop-up .pop-up-header .close-button {
  margin-left: auto;
}
.pop-up .input-bar {
  position: relative;
  width: 63%;
  height: 30px;
  font-size: smaller;
}
#ship-info-box {
  left: 7.3%;
  top: 20%;
  height: 370px;
  width: 350px;
}
#ship-info-box .ship-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4% 4% 4% 6%;
}
#ship-info-box .ship-details .row-info {
  width: 48%;
}
#ship-info-box .ship-details .row-info .big-item {
  margin-top: 10px;
}
#ship-info-box .ship-details .row-info .item {
  display: inline;
}
#ship-info-box #inquire-bar {
  margin-right: 0px;
  width: 60%;
}
#ship-info-box #ship-date-range {
  height: 30px;
}
#ship-info-box #inq-btn {
  padding-left: 7px;
  padding-right: 7px;
}
#ship-info-box #clr-btn {
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 0px;
  background-color: #e5e5e5;
  color: #333333;
}
#ship-info-box .ship-image {
  height: 15%;
  width: auto;
  margin-left: 6%;
}
#ship-info-box .inquire-row {
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 3%;
}
#ship-info-box .ship-info-two-buttons {
  margin-left: 6%;
}
#ship-info-box .ship-info-two-buttons .ship-info-button {
  width: 20%;
  margin-top: 0%;
  padding-left: 7px;
  padding-right: 7px;
}
#change-name-box {
  margin-left: 30%;
  top: 20%;
  height: 150px;
  width: 225px;
}
#change-name-box #new-name-form {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#change-name-box #name-label {
  margin-bottom: 0;
  text-align: left;
  width: auto;
}
#change-name-box .edit-button {
  width: 30%;
}
#observed-list-box {
  right: 5%;
  top: 21%;
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
#observed-list-box .show-ships-bar {
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
#observed-list-box .show-ships-bar .display-ships-chkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
}
#observed-list-box .show-ships-bar [type="checkbox"]:not(:checked) + label::before,
#observed-list-box .show-ships-bar [type="checkbox"]:checked + label::before {
  background: white none repeat scroll 0 0;
  border: 1px solid #aaa;
  content: "";
  height: 28px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 28px;
}
#observed-list-box .show-ships-bar [type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
#observed-list-box .show-ships-bar [type="checkbox"]:not(:checked) + label::after,
#observed-list-box .show-ships-bar [type="checkbox"]:checked + label::after {
  color: #09ad7e;
  content: "✔";
  font-size: 32px;
  left: 4px;
  line-height: 0.8;
  position: absolute;
  top: 3px;
  transition: all 0.2s ease 0s;
}
#observed-list-box .show-ships-bar [type="checkbox"]:not(:checked) + label,
#observed-list-box .show-ships-bar [type="checkbox"]:checked + label {
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}
#observed-list-box .show-ships-bar .radio label,
#observed-list-box .show-ships-bar .checkbox label {
  cursor: pointer;
  margin-bottom: 0;
  min-height: 20px;
  padding-left: 20px;
  font-size: 1.125rem;
  line-height: 32px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 5px;
}
#observed-list-box .show-ships-bar .layui-form-label {
  padding-left: 0;
}
#observed-list-box .add-ship-box {
  height: 180px;
}
#observed-list-box .add-ship-box .real-label {
  padding: 4px 8px 4px 4px;
  width: 25%;
  color: #bcbcbc;
}
#observed-list-box .add-ship-box ::placeholder {
  color: #bcbcbc;
}
#observed-list-box .add-ship-box .add-fleet-two-buttons {
  position: relative;
  left: 25%;
}
#observed-list-box .add-ship-box .input-bar {
  float: left;
  width: 50%;
  color: #bcbcbc;
}
#observed-list-box .add-ship-box #add-fleet-btn {
  float: left;
  margin-left: 1%;
  background-color: white;
  border: solid;
  border-color: #dcdcdc;
  border-width: thin;
  color: #bcbcbc;
  padding-left: 2px;
  padding-right: 4px;
}
#observed-list-box hr {
  margin: 0.5px 0.3px 0.5px 0.3px;
}
#observed-list-box .observe-big-text {
  text-align: left;
  margin-left: 0;
  width: 40%;
  margin-bottom: 0;
}
#observed-list-box .list-wrapper {
  max-height: 100px;
  min-height: 70px;
  overflow-y: scroll;
  height: 25%;
  margin: 7px 3px 7px 5px;
  /* Remove default bullets */
  /* Remove margins and padding from the parent ul */
  /* Style the caret/arrow */
  /* Create the caret/arrow with a unicode, and style it */
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  /* Hide the nested list */
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
}
#observed-list-box .list-wrapper ul,
#observed-list-box .list-wrapper #myUL {
  list-style-type: none;
}
#observed-list-box .list-wrapper #myUL {
  padding: 0;
  overflow-y: scroll;
  height: auto;
}
#observed-list-box .list-wrapper .caret {
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}
#observed-list-box .list-wrapper .caret-icon {
  color: #cccccc;
  display: inline-block;
  font-size: 13px;
  margin-right: 2%;
}
#observed-list-box .list-wrapper .caret-icon-down {
  transform: rotate(90deg);
}
#observed-list-box .list-wrapper .nested {
  margin-left: 6.5%;
  display: none;
}
#observed-list-box .list-wrapper .active {
  display: block;
}
#observed-list-box .list-wrapper .tree-buttons {
  float: right;
  margin-right: 3%;
}
#observed-list-box .list-wrapper .tree-buttons .indiv-tree-button {
  height: 13px;
  width: 13px;
  background-color: transparent;
  border: transparent;
}
#observed-list-box .list-wrapper .tree-buttons .indiv-tree-button .tree-button-icon {
  height: 100%;
  width: 100%;
  filter: invert(40%);
}
#observed-list-box .list-wrapper .layui-form-item {
  margin-bottom: 4px;
}
#observed-list-box .bottom {
  background-color: #DEECFD;
  display: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: auto;
  align-items: center;
}
#observed-list-box .bottom .layui-btn {
  width: 80px;
  margin-right: 20px;
}
#search-bar {
  margin-top: 2%;
  left: 0.7%;
  width: 50.2%;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}
#search-bar .search-bar-item {
  float: left;
}
#search-bar #search-form {
  width: 65%;
}
#search-bar #search-button {
  width: 10%;
}
#search-bar #search-image {
  height: 60%;
  width: auto;
}
#search-bar #id-label {
  width: -10%;
  padding: -5%;
}
#logo {
  padding-bottom: 23%;
  align-content: right;
  width: 60%;
  height: auto;
}
#user-logo {
  padding-bottom: 10%;
  width: 60%;
  height: auto;
}
#right-float-parent {
  margin-top: 2%;
  width: 10%;
  position: absolute;
  background-color: black;
  background-blend-mode: overlay;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  opacity: 70%;
  right: 10%;
}
#right-float-parent .layui-btn {
  width: 45%;
  float: left;
  margin: 0;
  background-color: transparent;
  border: transparent;
}
#right-float-parent .image {
  width: 50%;
  height: auto;
}
.two-buttons {
  text-align: center;
}
.blue-button {
  background-color: #006ce7;
}
.cancel-button {
  color: black;
  width: 15%;
  background-color: #e5e5e5;
}
.layui-btn:focus {
  outline: 0;
}
.layui-btn:active {
  background-color: white;
}
